*{
    background-color: lightblue;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    font-size: larger;
    font-style: normal;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.ReisHeader{
    letter-spacing: 1px;
    font-style: italic;

}